name: Test APIs
on: 
  pull_request:
    branches: [main]
  push:
    branches: [A1-01, A2-01]
jobs:
  check-api:
    name: Check all apis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: yarn install
      - name: Run Api Tests
        id: unitTest
        run:  yarn test